@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700&display=swap');
@import 'tailwindcss';

@theme {
  --font-sans: 'Prompt', sans-serif;

  --color-primary: #2c7a7b;
  --color-secondary: #4299e1;
  --color-accent: #38b2ac;
  --color-light: #e6fffa;
  --color-dark: #234e52;
  --color-background: #f7fafc;

  --color-text-main: #2d3748;
  --color-text-muted: #718096;

  /* Animation */
  --animate-spin-slow: spin 3s linear infinite;
  --animate-shimmer: shimmer 2s infinite linear;

  @keyframes shimmer {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
  }
}

/* Base Reset */
:root {
  font-family: var(--font-sans);
  background-color: var(--color-background);
  color: var(--color-text-main);
}

body {
  @apply antialiased bg-background text-text-main;
}
